doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet",
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
    crossorigin="anonymous")
    link(rel="stylesheet", href="./style.css")
    title 家族の連絡板
  body.container.bg-light
    div.my-3
      a(href="/logout").btn.btn-info.float-right ログアウト
      div.d-flex
        img(src="./favicon.ico")
        h1.ml-3.mt-2 家族の連絡板
    a(href="/howtouse") 使い方
    br
    a(href="/communication") 連絡板
    br
    - var isNew = (newInfo1 === user || newInfo2 === user || newInfo3 === user)
      if isNew
        p.blinking(style={color:"red"}) New Menu!
    - var isSubmit = (submitButton === "submitPermit")
      if isSubmit
        a(href="/enquetes/kondate") メニューの希望を投票する
      else
        p(style={color:"red"}) 現在献立アンケートを受け付けていません