doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet",
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
    crossorigin="anonymous")
    title 「家族の連絡板」使い方
  body.container.bg-light
    a(href="/top").float-right ホームに戻る
    h3 使い方
    h4 「家族の連絡板」は　連絡板　と　献立アンケート機能 を有しています。
    h5 連絡板について
    p 匿名ではありませんが、投稿時に 宛先を指定することができます。
    p 投稿内容は、指定された宛先のユーザーしか見ることができません。
    p ただし、管理者は、全ての投稿を見ることができます
    p （「宛先を何も指定していない投稿も管理者は見ることができます）。
    h5 献立アンケート機能について
    p 1. 管理者は献立の候補を6種類登録できます。  ※1
    p 2. 全ユーザー（管理者を含む）は、献立アンケートに投票できます。  ※2
    p 3. 投票は他のユーザーの投票と多数決を取り、最も得票した献立が連絡板に自動で投稿されます。  ※3
    p 4. 管理者はアンケートの結果を参考に、献立を決定できます。  ※4
    p ---決定した献立は、連絡板に自動で投稿されます。  ※3
    p ※1 管理者が献立の登録を行うと、ゲストのTOP画面に NEW! の文字が表示されます。
    p ----NEW! の文字は、各ゲストがアンケートページを見るか管理者が献立を決定すると消えます。
    p ----また、新規に献立候補が登録されるとそれまでのアンケート結果はクリアされます。    　　　
    p ※2 管理者が登録した以外の献立をリクエストすることもできます。
    p ----リクエストされた献立は、連絡板および管理者が献立を決定する画面に表示され参考とされます。
    p ※3 本自動投稿は全てのユーザーに表示されます。
    p ----また、本自動投稿には投稿の種類に応じて3種類のアイコンが付加されます。
    p ----多くの投稿から献立アンケートに関する投稿を発見する際の目印にしてください。
    p ----通常の投稿に上記アイコンは付加されません。
    P ※4 管理者が献立を決定すると、新たに献立を登録するまでは アンケートの投票が禁止されます。
    h5 その他
    p 本アプリの利用には、あらかじめ登録されたユーザー名とパスワードによるログインが必要です。
    p 本アプリは 管理者1名とゲスト3名の合計4名のユーザーまで登録可能です。