doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet",
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
    crossorigin="anonymous")
    title 「家族の連絡板」使い方
  body.container.bg-light
    a(href="/top").float-right ホームに戻る
    h3 使い方
    h4 「家族の連絡板」は　連絡板　と　献立リクエスト機能 を有しています。
    h5 連絡板について
    p 匿名ではありませんが、投稿時に 宛先を指定することができます。
    p 投稿内容は、指定された宛先のユーザーしか見ることができません。
    p ただし、管理者（admin）は、全ての投稿を見ることができます
    p （「宛先を何も指定していない投稿も管理者は見ることができます）。
    h5 献立リクエスト機能について
    p 1. 管理者は献立の候補を6種類登録できます。
    p 2. 全ユーザー（管理者を含む）は、献立の希望をアンケート形式で投票することができます。
    p 3. 献立希望が投票されると、他のユーザーの投票との多数決で決めた献立を連絡板に自動で投稿します。
    p ---管理者が登録した以外の献立をリクエストすることもできます。
    p ---リクエストされた献立は、管理者が献立を決定する画面に表示され参考とされます。
    p ---新規に献立候補が登録されるとそれまでのアンケート結果はクリアされます。  
    p  4. 管理者はアンケートの結果を参考に、献立決定できます。
    p ---決定した献立は、連絡板に自動で投稿されます。
    h5 その他
    p ・献立リクエスト機能に関する自動投稿には、投稿の種類に応じて3種類のアイコンが表示されます。
    p --多くの投稿から献立に関する投稿を発見する際の目印にしてください。
    p --通常の投稿にアイコンは付加されません。
    p ・管理者が献立の登録を行うと、ユーザーのTOP画面に NEW! の文字が表示されます。
    p --NEW! の文字は、各ユーザーがアンケートを投票するか管理者が献立を決定すると消えます。
    p ・本アプリの利用には、あらかじめ登録されたユーザー名とパスワードによるログインが必要です。